/node_modules
/public/hot
public/assets
public/cpassets
public/design
public/media
public/packages
public/uploads
public/wp-includes
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/
