@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);

/* Fixes */
.order-item {clear:both;}
.order-item .item-radio {margin: 50px 5px;}
.order-item img {border: 1px solid #ccc;margin: 0 5px;}
.btn-primary {background-color: #1ca4a3;border-color: #169c9b;}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {background-color: #169c9b;border-color: #149493;}
.btn-danger {background-color: #b5303c;border-color: #ab2833;}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {background-color: #ab2833;border-color: #a0222d;}
.nav>li>a {padding: 10px 33px !important;}

/* RTL */


/* Responsive */
@media (max-width: 992px) {

}

/* Print */
@media print {
	.y-header,.y-nav,.y-footer,.spaceForm {display: none;}
}