$entypo_path: '../';
$image_path: '../';

$color-primary: #02344a;
$color-secondary: #0581b5;
$color-terciary: #FAB740;

$color-black: #5a5a5a;
$color-gray: #f0f0f0;

$color-red: #d81814;
$color-android: #80BD01;
$color-apple: #000;
$color-windows: #68217A;
$color-green: #20b38d;
$color-yellow: #e0a000;


$font-family: 'Exo 2', sans-serif;

$marker-size: 38px;

$cluster-size: 54px;